.container {
    max-width: 750px;
    margin: var(--space-m) auto;
    padding: var(--space-l);
}

.breadcrumb {   
    display: flex;
    list-style: none;
    padding-top: var(--space-l);
    margin: var(--space-m) 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li:not(:last-child)::after {
    content: ">";
    margin: 0 var(--space-xs);
    color: var(--on-surface-medium);
}

.breadcrumb a {
    color: var(--primary-color);
    text-decoration: none;
}

/* Text highlights */
.highlight {
    background-color: rgba(var(--primary-color-rgb), 0.1);
    padding: var(--space-xxs) var(--space-xs);
    border-radius: var(--space-xs);
}

 /* Button styles */
.btn {
    display: inline-block;
    min-width: 100px;
    padding: var(--space-xs) var(--space-s);
    font-size: 1rem;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
    border: 1px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
   
}

.btn-primary {
    margin-top: var(--space-s);
        align-self: flex-start;
    color: var(--primary-color);
    border-color: var(--primary-color);
}

.btn-secondary {
    margin-top: var(--space-s);
    align-self: flex-start;
    
    background-color: var(--bg-color);
    border-color: var(--primary-color);
}

.btn-danger {
    margin-top: var(--space-s);
    align-self: flex-start;
    color: var(--error-color);
    border-color: var(--error-color);
}

.btn:hover {
    background-color: rgba(var(--primary-color-rgb), 0.1);
    transform: translateY(-2px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: var(gree);
}

.btn-primary:hover {
    background-color: var(--primary-color);
    color: var(--bg-color);
}

.btn-secondary:hover {
    background-color: rgba(var(--on-surface-color-rgb), 0.1);
    color: var(--quaternary-color);
}

.btn-danger:hover {
    background-color: var(--error-color);
    color: var(--bg-color);
}




@media (max-width: 768px) {
    .welcome-message {
        font-size: var(--font-size-sm);
        margin-bottom: var(--space-m);
    }
}

@media (max-width: 600px) {
    .home-container {
        margin: var(--space-xs);
        margin-top: var(--space-m);
    }

    .page-title {
        font-size: var(--small);
    }

    .card:hover {
        transform: translateY(-3px);
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
}

@media (max-width: 768px) {
    body {
        font-size: calc(var(--base-font-size) * 0.9);
    }

    .page-title {
        font-size: var(--h3);
    }
}
