.container {
    max-width: 750px !important;
    /* margin: 10px auto !important; */
    padding: 20px !important;
} 

.home-container {
     margin: 10px auto;
}


a {
    transition: all 0.3s ease;
}

a:hover {
    color: var(--primary-color);
}

.card {
    transition: all 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
}
