
.footer {
    width: 100%;
    background-color: var(--surface-color);
    color: var(--on-surface-medium);
    padding: var(--space-l) 0;
    margin-top: 40px;
    box-sizing: border-box;
    clear: both; 
}

.footer-content {
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;
    max-width: 1200px; 
    margin: 0 auto; 
    padding: 0 15px; /
}

.footer-links, .footer-social {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}


.footer-links a:hover, .footer-social a:hover {
    color: var(--primary-color);
}

.footer-links a,
.footer-social a {
    color: var(--on-surface-medium);
    text-decoration: none;
    margin-right: var(--space-m);
    font-size: var(--font-size-sm);
    transition: color 0.3s ease;
}

.footer-social a {
    font-size: var(--font-size-lg);
}