@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@700&family=Roboto:wght@400;700&family=Merriweather:wght@400;700&display=swap');
@import url('variables.css');
@import url('components.css');
@import url('posts.css');
@import url('form.css');
@import url('author.css');
@import url('navbar.css');
@import url('tag.css');
@import url('footer.css');
@import url('about.css');
@import url('shapes.css');
@import url('subscribe_form.css');


/* Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.post-cell:nth-child(1) { animation-delay: 0.1s; }
.post-cell:nth-child(2) { animation-delay: 0.2s; }
.post-cell:nth-child(3) { animation-delay: 0.3s; }
.post-cell:nth-child(4) { animation-delay: 0.4s; }
.post-cell:nth-child(5) { animation-delay: 0.5s; }
.post-cell:nth-child(6) { animation-delay: 0.6s; }

/* Text highlights */
.highlight {
    background-color: rgba(var(--primary-color-rgb), 0.1);
    padding: 2px 4px;
    border-radius: 4px;
}

/* Navigation */
.breadcrumb {
    display: flex;
    list-style: none;
    padding-top: 1rem;
    margin: 20px 0;
}

.breadcrumb li {
    display: flex;
    align-items: center;
}

.breadcrumb li:not(:last-child)::after {
    content: ">";
    margin: 0 10px;
    color: var(--on-surface-medium);
}

.breadcrumb a {
    color: var(--primary-color);
    text-decoration: none;
}



