.post-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    margin-top: 40px;
}

.post-cell {
    position: relative;
    background-color: var(--surface-color);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 -4px 5px 10px  rgba(0, 0, 0, 0.1),
                0 4px 5px 10px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    text-decoration: none;
    color: var(--on-surface-color);
    animation: fadeInUp 0.5s ease-out;
    animation-fill-mode: both;
}

.post-cell:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.post-cell img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: all 0.3s ease;
}

.post-cell:hover img {
    transform: scale(1.05);
}

.post-cell .content {
    padding: 20px;
}

.post-cell h2 {
    font-size: var(--h3);
    margin: var(--space-s) 0;
    color: var(--on-surface-color);
}

.post-cell p {
    font-size: var(--base-font-size);
    color: var(--on-surface-medium);
    margin-bottom: var(--space-xs);
    line-height: 1.2;
}

.post-cell .meta {
    padding-top: 25%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 0.9rem;
    color: var(--on-surface-dim);
}


.post-detail {
    background-color: rgba(24, 24, 24, 0.9);
    border-radius: 12px;
    padding: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
}

.post-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
    margin-bottom: 20px;
}

.page-title {
    font-size: 2.5rem;
    color: var(--primary-color);
    text-align: center;
    margin-bottom: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.post-author {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.post-author img {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author a {
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1rem;
    font-weight: 100;
    letter-spacing: 2px;
}

.post-author a:hover {
    text-decoration: underline;
}

.post-author-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: 10px;
}

.post-author-name {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: 100;
}

.post-author-name:hover {
    text-decoration: underline;
}


.post-content {
    font-size: 1.1rem;
    line-height: 1.8;
    color: var(--on-surface-color);
}

.post-content .lead {
    font-size: var(--h3);
    line-height: var(--line-height-loose);
    color: var(--on-surface-medium);
    margin-bottom: var(--space-l);
    line-height: 1.6;
}

.post-content h2 {
    font-size: var(--h2);
    color: var(--primary-color);
    margin-top: var(--space-xl);
    margin-bottom: var(--space-m);
}

.post-content p {
    margin-bottom: 20px;
}

.post-content ul, .post-content ol {
    margin-bottom: 20px;
    padding-left: 30px;
}

.post-content li {
    margin-bottom: 10px;
}

.post-content blockquote {
    border-left: 4px solid var(--primary-color);
    padding-left: 20px;
    margin: 30px 0;
    font-style: italic;
    color: var(--on-surface-medium);
    font-size: 1.2rem;
}

.post-footer {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid var(--on-surface-dim);
    display: flex;
    justify-content: space-between;
}

.post-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}


.btn-edit, .btn-delete {
    padding: 10px 20px;
    border-radius: 25px;
    text-decoration: none;
    font-weight: 600;
    margin-left: 10px;
}


.btn-edit {
    background-color: var(--primary-color);
    color: var(--surface-color);
}

.btn-delete {
    background-color: #E0245E;
    color: var(--surface-color);
}

@media (max-width: 768px) {

    .post-grid {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
        gap: 40px;
    }
    .post-detail {
        padding: 20px;
    }

    .post-title {
        font-size: var(--h2);
    }

    .post-content {
        font-size: calc(var(--base-font-size) * 0.9);
    }

    .post-cell .meta {
        padding-top: 0%;
        font-size: 0.8rem;
    }

    .post-content .lead {
        font-size: var(--h3);
    }

    .post-content h2 {
        font-size: var(--h3);
    }
}